@button-height: 36px;
@button-padding: 12px;

.button-raised {
  padding-left: @button-raised-padding;
  padding-right: @button-raised-padding;
  height: @button-raised-height;
  background-color: @yellow;
  min-width: @button-flat-min-width;
  border: none;
}

.button-flat {
  padding-left: @button-flat-padding;
  padding-right: @button-flat-padding;
  height: @button-flat-height;
  background-color: @yellow;
  min-width: @button-flat-min-width;
  border: none;
}

.button-incline {
  margin: 0 auto;
  min-height: @button-incline-height;
  background-color: @lightBlue;
  color: @white;
  padding: @button-incline-padding;
}
