.card {
  background-color: @white;
  -webkit-border-radius: @card-border-radius;
  -moz-border-radius: @card-border-radius;
  border-radius: @card-border-radius;
  border-width: @card-border;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: @grey_lighten_2;
}

.card-title {
  padding: @card-title-padding;
}

.card-text {
  padding: @card-text-padding;
}

.card-action {
  padding: @card-action-padding;
}
