.card {
  background-color: @white;
  -webkit-border-radius: @card-border-radius;
  -moz-border-radius: @card-border-radius;
  border-radius: @card-border-radius;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: @grey_lighten_2;
  padding: @card-padding
}

.card-title {
  .headline;
}

.card-text {
  .body1;
}

.card-action {
  .body2;
}
