@(error: Option[String])(user: User)

  @main(user.username) {
    <h1>Login</h1>

    @if(error) {
      <div>
      @error
      </div>
    }

    <form method="post" id="signin" action="@routes.Users.signin()">

        <!-- Email -->
      <input type="text" name="email" id="email"
      placeholder="@Messages("login.email")"
      value="@user.email" maxlength="35" required>

        <!-- Password -->
      <input type="password" name="password" id="password"
      placeholder="@Messages("login.password")"
      value="@user.password" maxlength="35" required>

        <!-- Submit -->
      <input type="submit" value="@Messages("login.submit")">

    </form>

    <!-- Sign up -->
    <a href="@routes.Users.signup()">
      <input type="button" value="@Messages("signup.submit")">
    </a>
  }