@(content: Html)

<!DOCTYPE html>

<html>
  <head>
      <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- Title -->
    <title>@Messages("application.name")</title>

      <!-- Icons -->
    <link rel="shortcut icon" type="image/ico"
    href="@routes.Assets.at("images/favicon.ico")">

      <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,500,300"
    rel="stylesheet" >

      <!-- Stylesheet -->
    <link rel="stylesheet" media="screen"
    href="@routes.Assets.at("stylesheets/main.css")">
    <script type='text/javascript'
    src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>

  </head>

  <body>

      <!-- Reactive ribbon -->
    <a href="http://www.reactivemanifesto.org/">
      <img style="border : 0 ; position : fixed ; right : 0 ; top : 0 ; z-index : 9000"
      src="//d379ifj7s9wntv.cloudfront.net/reactivemanifesto/images/ribbons/we-are-reactive-blue-right.png">
    </a>

      <!-- Toolbar / appbar-->
    <header class="toolbar title">
      <a href="/">
        <img class="icon" src="@routes.Assets.at("images/favicon.ico")">
      </a>

        <!-- Logout -->
      <form method="post" action="@routes.Users.logout()">
        <input type="submit" value="@Messages("logout.logout")">
      </form>
    </header>

      <!-- Bottom sheet -->
    <div class="bottom-sheet">

        <!-- Content -->
      @content
    </div>


  </body>
</html>
