@(error: Seq[Option[String]])(user: SignupUser)

@main(None) {
  <h1>Signup</h1>

  @for(e <- error) {
    <div>
    @e
    </div>
  }

  <form method="post" id="signup" action="@routes.Users.create">

      <!-- Fullname -->
    <input type="text" name="fullname" id="fullname"
    placeholder="@Messages("signup.fullname")"
    value="@user.fullname" maxlength="35" class="input" required> <br/>

      <!-- Username -->
    <input type="text" name="email" id="email"
    placeholder="@Messages("signup.email")"
    value="@user.email" maxlength="35" class="input" required> <br/>

      <!-- Password -->
    <input type="password" name="password" id="password"
    placeholder="@Messages("signup.password")"
    value="@user.password" maxlength="35" class="input" required> <br/>

      <!-- Submit -->
    <input type="submit" value="@Messages("signup.submit")">

  </form>
}